<section class="flexcontainer">
  <app-breadcrumbs [page]="page"></app-breadcrumbs>
    <div class="titulo-div">
      <a routerLink="/home/pets"
        ><img src="assets\images\dds__arrow-cir-left 1.svg" alt=""
      /></a>
      <h1>Registrar pet</h1>
    </div>
    <section class="cadastro-form-container">
      <form data-dds="form" class="dds__form dds__container">
        <fieldset class="dds__form__section">
          <div class="dds__row">
            <div class="dds__col--1 dds__col--sm-3">
              <div class="dds__input-text__container">
                <label
                  id="text-input-label-446747117"
                  for="text-input-control-nomedopet"
                  >Nome do pet <span>*</span></label
                >
                <div class="dds__input-text__wrapper">
                  <input
                    type="text"
                    class="dds__input-text"
                    name="text-input-control-name-446747117"
                    id="text-input-nome-pet"
                    required=""
                    placeholder="Nome do pet"
                    [(ngModel)]="requestPets.name"
                    aria-labelledby="text-input-label-446747117 text-input-helper-446747117"
                  />
                  <div
                    id="text-input-error-446747117"
                    class="dds__invalid-feedback"
                  >
                    Insira o nome do pet
                  </div>
                </div>
              </div>
  
              <div class="dds__input-text__container">
                <label
                  id="text-input-label-897251573"
                  for="text-input-control-linkdalogo"
                  >Link da foto do pet <span>*</span></label
                >
                <div class="dds__input-text__wrapper">
                  <input
                    type="url"
                    size="255"
                    class="dds__input-text"
                    name="text-input-photopet"
                    id="text-input-photopet"
                    required=""
                    placeholder="Insira um link para a foto do pet"
                    [(ngModel)]="requestPets.photo"
                    aria-labelledby="text-input-label-897251573 text-input-helper-897251573"
                  />
                  <div
                    id="text-input-error-897251573"
                    class="dds__invalid-feedback"
                  >
                    Insira o link da foto do pet
                  </div>
                </div>
              </div>
              <div class="dds__input-text__container">
                <label
                  id="text-input-label-gdfgsfd"
                  for="text-input-control-name-897251573"
                  >Preço do pet <span>*</span></label
                >
                <div class="dds__input-text__wrapper">
                  <input
                    type="number"
                    class="dds__input-text"
                    name="text-input-precopet"
                    id="text-input-precopet"
                    required=""
                    placeholder="99.9"
                    [(ngModel)]="requestPets.price"
                    aria-labelledby="text-input-label-897251573 text-input-helper-897251573"
                  />
                  <small id="text-input-helper-318376834" class="dds__input-text__helper">O valor é adicionado em Real </small>
                  <div
                    id="text-input-error-897251573"
                    class="dds__invalid-feedback"
                  >
                    Digite o preço do pet
                  </div>
                </div>
              </div>
  
              <div class="dds__input-text__container">
                  <label
                    id="text-input-label-gdfgsfd"
                    for="text-input-control-name-897251573"
                    >Sexo do pet <span>*</span></label
                  >
                  <div class="dds__input-text__wrapper">
                    <input
                      type="text"
                      class="dds__input-text"
                      name="text-input-sexopet"
                      id="text-input-sexopet"
                      required=""
                      placeholder="Digite o sexo do pet"
                      [(ngModel)]="requestPets.gender"
                      aria-labelledby="text-input-label-897251573 text-input-helper-897251573"
                    />
                    <div
                      id="text-input-error-897251573"
                      class="dds__invalid-feedback"
                    >
                      Digite o sexo do pet
                    </div>
                  </div>
                </div>
              
                <div class="dds__input-text__container">
                  <label
                    id="text-input-label-gdfgsfd"
                    for="text-input-control-name-897251573"
                    >Peso do pet <span>*</span></label
                  >
                  <div class="dds__input-text__wrapper">
                    <input
                      type="number"
                      class="dds__input-text"
                      name="text-input-pesopet"
                      id="text-input-pesopet"
                      required=""
                      placeholder="99.9"
                      [(ngModel)]="requestPets.weight"
                      aria-labelledby="text-input-label-897251573 text-input-helper-897251573"
                    />
                    <div
                      id="text-input-error-897251573"
                      class="dds__invalid-feedback"
                    >
                      Digite o peso do pet
                    </div>
                  </div>
                </div>
                
                <div class="dds__input-text__container">
                  <label
                    id="text-input-label-gdfgsfd"
                    for="text-input-control-name-897251573"
                    >Idade do pet <span>*</span></label
                  >
                  <div class="dds__input-text__wrapper">
                    <input
                      type="text"
                      class="dds__input-text"
                      name="text-input-idadepet"
                      id="text-input-idadepet"
                      required=""
                      placeholder="1 ano"
                      [(ngModel)]="requestPets.age"
                      aria-labelledby="text-input-label-897251573 text-input-helper-897251573"
                    />
                    <div
                      id="text-input-error-897251573"
                      class="dds__invalid-feedback"
                    >
                      Digite a idade do pet
                    </div>
                  </div>
                </div>
  
              <div class="dds__text-area__container" data-dds="text-area">
                <div class="dds__text-area__header">
                  <label
                    id="text-area-label-942787111"
                    for="text-area-control-942787111"
                    >Descrição do pet<span>*</span></label
                  >
                </div>
                <div class="dds__text-area__wrapper">
                  <textarea
                    class="dds__text-area"
                    name="text-area-control-name-333089901"
                    id="text-area-control-333089901"
                    data-maxlength="255"
                    placeholder="Descrição do pet"
                    aria-required="true"
                    aria-labelledby="text-area-label-333089901 text-area-helper-333089901"
                    required=""
                    [(ngModel)]="requestPets.description"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="buttons">
          <button
            class="dds__button dds__button--secondary"
            type="button"
            routerLink="/home/pets"
          >
            Voltar
          </button>
          <button class="dds__button" type="button" (click)="updatePet()">
            Salvar
          </button>
        </div>
      </form>
    </section>
  </section>
  
