label{
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 16px;
}
.login-form-container{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
}
.dds__form.dds__container{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
input{
    width: 400px;
    height: 40px;
    border-style: solid;
    border-color: #C8C9C7;
}
input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 0.938rem;
    color: #C8C9C7;
}
.dds__col--1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button{
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16px;
}
.possuiconta{
    font-family: 'Roboto';
    font-style: normal;
    font-weight:400;
    font-size: 0.875rem;
    line-height: 16px;
    color: #444444;
    padding-top: 10px;
}
span{
    color: #006BBD;
    cursor: pointer;
}
.incorrectinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 16px;
    color: #444444;
}
a{
    text-decoration: none;
}