<section class="flexcontainer">
    <header>
        <div class="login-div-logo">
            <img src="assets\images\login-logo-lead.svg" alt="Logo Dell Lead" class="login-logo-lead">
            <img src="assets\images\login-logo-dell.svg" alt="Logo Dell Technologies" class="login-logo-dell">
        </div>
        <p>{{session.name}}</p>

        <nav>
            <a>PRODUTOS</a>
            <a>PETS</a>
        </nav>

        <div class="perfil">
            <p>{{session.name}}</p>
            <div class="perfil-linha-vertical"></div>
            <img src="{{session.logo}}" alt="">
        </div>
        alolo
    </header>
</section>
