<footer>
    <section class="footer-flex-container">
        <div class="footer-div-text">
            <p class="footer-text1">
                Lead Petshop 
            </p>
            <p class="footer-text2">
                | Copyright © 2022, Todos os direitos reservados
            </p>
        </div>
        <div class="footer-div-logo">
            <img src="\assets\images\logos-dell-technologies-lead.svg" alt="Logo do Lead e da Dell Technologies">
        </div>
    </section>
</footer>
